.padd{
    padding-top: 50px;
}
 .form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  input[type=text], select,input[type=date] {
    width: 100%;
    padding: 15px 20px;
    margin: 15px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  
  
  
    